body {
	width: 90%;
	text-align: center;
}

.formElement {
    width: 30%;
    text-align: center;
    display: inline-block;
    margin: 5px;
    max-width:200px;
}


iframe {
	width: 90%;
	min-height: 750px;

}

.footer {
	width: 90%;
	position: fixed;
	bottom: 0px;
}